@font-face {
    font-family: "Katahdin Round";
    src: url('/static/KatahdinRound.otf');
  }
  @font-face {
    font-family: "Gellix";
    src: url('/static/gellix-11.otf');
  }
* {
    font-family: "Katahdin Round", sans-serif;
}

img:not(.lghs-banner-image) {
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

img {

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(222, 222, 222, .75);
    -webkit-transition: opacity 0.5s 0.5s ease-out;
    transition: opacity 0.5s 0.5s ease-out;
}

::-webkit-scrollbar-thumb {
    height: 8%;
    background: rgba(0, 0, 0, .5);
    border-radius: 4px;
}

.navbar {
    padding-top: 0.5rem;

}


.navbar-brand img {
    width: 130px;
    height: 130px
}

.navbar-nav {
    padding-left: 23%;
    opacity: 1;
    padding-top: 2%;
    flex-direction: row;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-weight: 300;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    transition-duration: 500ms;
    transition-property: opacity, transform;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "Gellix", sans-serif;
}

.nav-link:hover,
.nav-link:focus {
    opacity: 1;
    color: #fff !important;
}

.nav-link {
    padding-right: 10px !important;
}

.information-navbar,
.about-navbar,
.register-navbar,
.home-navbar,
.faq-navbar,
.schedule-navbar {
    opacity: 0.6;
}

.navbar-nav {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;

}

.navbar-brand {
    z-index: 9;
}

.navbar-brand {
    font-size: var(--h4-size, 2.5rem) !important;
    padding-top: 0 !important;
    position: absolute;
    margin-top: 2%;
}


.container {
    margin: auto;
    width: 85%
}

.navbar-right-discord {
    color: white;

}

.navbar-right {
    padding-left: 8%;
    padding-top: 1%;
    padding-right: 13%;
}

.social-icons-navbar {}

.navbar-right-discord {
    top: 37%;
    position: absolute;
    opacity: 0.6;
    padding: 4px;
    cursor: pointer;
    transition: opacity 200ms ease;
    transition-duration: 200ms;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: opacity;
}

.navbar-right-discord:hover {
    opacity: 1;
}

.navbar-right-devpost {
    margin-left: 3.5%;
    position: absolute;
    top: 40%;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 200ms ease;
    transition-duration: 200ms;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: opacity;
}

.navbar-right-devpost img {
    width: 21px;


}

.navbar-right-devpost:hover {
    opacity: 1;
}

.navbar-right-email {
    position: absolute;
    width: 18px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(250%) contrast(103%);
    top: 30%;
    margin-left: 6.1%;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 200ms ease;
    transition-duration: 200ms;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: opacity;
}

.navbar-right-email img {
    width: 2.4rem;
}

.navbar-right-email:hover {
    opacity: 1;
}

@media (max-width: 992px) {
    .navbar-right {

        padding-top: 7.5%;
    }



    .navbar-right-email {
        margin-left: 10%;
    }

    .navbar-right-devpost {
        margin-left: 5%;
    }

    .navbar-right-discord {
        margin-left: -0.5%;
    }

}

@media (max-width: 991px) {
    .saturn-sponsors {
        top: 55rem !important;
    }
}

@media (max-width: 645px) {
    .navbar-right-email {
        margin-left: 15%;
    }

    .navbar-right-devpost {
        margin-left: 7.5%;
    }

    .navbar-right-discord {
        margin-left: -0.5%;
    }

    .navbar-right {
        padding-left: 80%;

    }
}

@media (max-width: 850px) {
    .navbar-right {
        padding-top: 8%;
    }

}

@media (max-width: 780px) {
    .navbar-right {
        padding-top: 10%;
    }
}

@media (max-width: 680px) {
    .navbar-right {
        padding-top: 11%;
    }
}

@media (max-width: 610px) {
    .navbar-right {
        padding-top: 15%;
    }
}
